// Variables
$colour-background: #F7F7F7;
$colour-primary: #9356DC;
$colour-primary-2: #F5EDFF;
$colour-secondary: #FCA311;
$colour-green: #99E2D0;
$colour-green-font: #008766;
$colour-white: #fff;
$colour-black: #101010;
$colour-grey: #353535;
$colour-grey-tint4: #7E7E7E;
$colour-Button-gradient: (200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

$Shadow-Badge: 0px 2px 4px rgba(0, 0, 0, 0.15);
$Shadow-Card: 0px 4px 15px rgba(0, 0, 0, 0.1);
$Shadow-Button: 0px 4px 10px rgba(0, 0, 0, 0.25);
$Shadow-Instructions: 0px 4px 15px rgba(0, 0, 0, 0.15);
